.deletemember-pop-up .modal-content {
    height: 415px !important;
    width: 450px !important;
    padding: 50px 40px 60px !important;
    background: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.07);
    border-radius: 30px !important;
    border: none !important;
    border-bottom: 1px solid;
    margin: 0 auto !important;
}

.deletemember-pop-up .close {
    color: #CACACA !important;
}

.deletemember-pop-up .modal-header {
    display: flex !important;
    border-bottom: 1px solid #dee2e6 !important;
    padding: 0PX 0PX 30PX 0PX !important;
}

.deletemember-pop-up-title {
    width: 370px !important;
    height: 34px !important;
    text-align: left;
    font-size: 30px !important;
    letter-spacing: -1px !important;
    color: #010100 !important;
}

.deletemember-pop-up .close {
    color: #CACACA !important;
}

.deletemember-pop-up-content {
    padding: 0px !important;
    width: 370px !important;
    flex: none !important;
}

.deletemember-pop-up-content h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0px !important;
    padding: 30px 0px 50px 0px !important;
    letter-spacing: -1px;
}

.deletemember-pop-up-footer.modal-footer {
    border-top: none !important;
    padding: 0px !important;
}

.deletemember-pop-up-No-btn {
    width: 370px !important;
    height: 60px !important;
    background: #FFB932 !important;
    border-radius: 10px !important;
    border: none !important;
    margin: 0px 0px 20px 0px !important;
}

.deletemember-pop-up-yes-btn {
    width: 370px !important;
    height: 60px !important;
    background: transparent !important;
    border-radius: 10px !important;
    margin: 0px !important;
    color: #FFB932 !important;
    border: 2px solid #FFB932 !important;
}


/* \\\\\\\\\\\\\\                  RegisterDonation-pop-up                ///////////////////////// */

.registerdonation-pop-up .modal-content {
    width: 450px !important;
    /* height: 767px !important; */
    background: #FFFFFF !important;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.07) !important;
    border-radius: 30px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 40px 60px !important;
}

.registerdonation-pop-up .close {
    color: #CACACA !important;
}

.registerdonation-pop-up-title {
    width: 370px !important;
    height: 34px !important;
    text-align: left;
    font-size: 30px !important;
    letter-spacing: -1px !important;
    color: #010100 !important;
}

.registerdonation-pop-up .modal-header {
    display: flex !important;
    border-bottom: 1px solid #dee2e6 !important;
    padding: 0PX 0PX 30PX 0PX !important;
}

.registerdonation-pop-up-content {
    padding: 0px !important;
    width: 370px !important;
    flex: none !important;
}

.registerdonation-pop-up-lable {
    margin-bottom: 0px !important;
    padding: 30px 0px 20px !important;
    font-family: SpoqaHanSans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -1px;
    color: #010100;
    width: 370px;
}

.registerdonation-pop-up-input {
    width: 370px !important;
    height: 64px !important;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
}

.registerdonation-pop-up-btn {
    width: 370px !important;
    height: 54px !important;
    background: #FFB932 !important;
    border-radius: 10px !important;
    border: none !important;
    margin: 0px !important;
}

.registerdonation-pop-up-btn-2 {
    width: 370px !important;
    height: 54px !important;
    color: #FFB932 !important;
    border-radius: 10px !important;
    background-color: transparent !important;
    border: 2px solid #FFB932 !important;
    margin-top: 20px !important;
    padding: 0px !important;
}

.registerdonation-pop-up-footer.modal-footer {
    padding-top: 50px !important;
    border-top: none !important;
}


/* \\\\\\\\\\\\\\\\\\                   addfile-pop-up-btn              /////////////////////*/

.addfile-pop-up-footer.modal-footer {
    padding: 60px 0px 0px 0px !important;
    border-top: none !important;
}